body{
    background-color: purple;
}
h1 {
    position: absolute;
    left: 15%;
    font-size: 50px;
    color: white;
}
#botao1 {
    position: absolute;
    left: 10%;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 25%;
    border-style: double;
    top: 45%;
}

#botao2 {
    position: absolute;
    top: 290px;
    left: 250px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 25%;
    border-style: double;
}
#meuCopy {
    color: white;
}